
.items {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    flex: 1;
  
}
.item {

    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 1rem 1rem 0;
    box-shadow: 0 3px 5px -2px black;
}

.item-name {
    background-color:#44b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.fact-line {
    background-color:#44b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    border-radius: 5px;
}

.item-description {
    background-color:rgb(202, 202, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: black;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .items {
        flex-direction: column;
        padding: 1rem;

    }
    .item-name,
    .fact-line,
    .item-description {
        font-size: 1rem;
    }
    .item {width: 100%;}
    .item-image {
        width: 100%;
    }
}